.alert
    position: relative
    color: #444444

    &__header
        margin: 0
        padding: 10px
        color: white
        font-weight: 500
        font-size: $font-size-base
        background-color: #444444
        border: $border-width #cccccc solid
        border-bottom: none
        border-top-left-radius: $border-radius
        border-top-right-radius: $border-radius

    &__body
        padding: 10px
        margin: 0
        border: $border-width #cccccc solid
        border-top: none
        border-bottom-left-radius: $border-radius
        border-bottom-right-radius: $border-radius
        box-shadow: 0 2px 4px rgba(0, 0, 0, .2)

    &__close
        float: right
        background-color: inherit
        font-weight: $font-weight-bold
        line-height: 1
        border: none
        padding: 0
        margin-right: 7px
        margin-top: 7px

        &:hover
            background: none

    &__icon
        color: white
        font-size: 30px
        border-radius: 50%

    @mixin alert-variant($color)
        .alert__header
            @if($color == $warning)
                color: #444444
            background-color: $color
            border: none
        .alert__body
            @if($color == $warning)
                border: $border-width solid rgba($color, .9)
            @else
                border: $border-width solid rgba($color, .2)
            background-color: rgba($color, .2)

    // Генерируем контекстные классы модификаторов
    @each $variant, $color in $colors
        &--#{$variant}
            @include alert-variant($color)




