.badge
    display: inline-block
    padding: .25em .4em
    font-size: 75%
    font-weight: $font-weight-bold
    line-height: 1
    text-align: center
    vertical-align: super
    white-space: nowrap
    border-radius: 4px
    background-color: #f6f6f6
    margin-bottom: 16px
    margin-left: 2px


    @mixin badge-variant($color)
        @if($color == $warning)
            color: #444444
        @else
            color: white
        background-color: $color

    // Генерируем контекстные классы модификаторов
    @each $variant, $color in $colors
        &--#{$variant}
            @include badge-variant($color)

