/* Buttons */
@mixin button-variant($color)
    @if($color == $warning)
        color: #666666
    @else
        color: white
    background-color: $color

    &:hover
        @if ($color == $warning)
            background: linear-gradient(to top, $color 5%, darken($color, 15%) 100%)
        @else
            background: linear-gradient(to top, $color 5%, darken($color, 5%) 100%)

/* Badge */
@mixin badge-variant($color)
    @if($color == $warning)
        color: #333333
    @else
        color: white
    background-color: $color

