.pagination
    display: flex
    list-style: none

    &__item
        border: $border-width solid #cccccc
        border-radius: $border-radius
        color: #666666
        cursor: pointer
        box-shadow: 0 2px 4px rgba(0, 0, 0, .2)
        padding: 4px
        margin:
            left: 4px
            right: 4px

        &:hover
            background-color: #eeeeee
            text-decoration: none

        &:first-child, &:last-child
            background-color: #888888
            color: white
            border:
                top-left-radius: $border-radius
                bottom-left-radius: $border-radius

            &:hover
                background-color: #666666
                color: white

        &:nth-child(2), &:nth-last-child(2)
            background-color: white
            color: #666666

            &:hover
                background-color: #eeeeee
                text-decoration: none

        &:nth-child(3), &:nth-last-of-type(3)
            border: none
            box-shadow: none

    & .dots
        pointer-events: none

    &__link
        &:hover
            text-decoration: none

    .active
        background-color: #888
        color: white

    .disabled
        pointer-events: none
        color: rgba(#666666, .5)

    .hidden
        display: none

    @mixin pagination-variant($color)
        .pagination__item
            @if ($color == $warning)
                color: #444444
            @else
                color: rgba($color, .8)
            color: #666666
            border: $border-width solid $color

            &:first-child, &:last-child
                @if($color == $warning)
                    color: #444444
                @else
                    color: white
                background-color: $color

                &:hover
                    background-color: darken($color, 10%)

            &:nth-child(3), &:nth-last-of-type(3)
                @if($color == $warning)
                    color: #444444
                @else
                    color: rgba($color, .8)
                border: none

            &:hover
                background-color: rgba($color, 0.1)

        & .active
            @if ($color == $warning)
                color: #444444
            @else
                color: white
            background-color: $color !important


    // Генерируем контекстные классы модификаторов
    @each $variant, $color in $colors
        &--#{$variant}
            @include pagination-variant($color)

